<div id="welcome">
    <div id="view-all">
        <%= link_to 'View All Shops', shop_profiles_path, :class => "button" %>
        <%= link_to 'View All Products', products_path, :class => "button" %>
    </div>
</div>




