<div class="shops">

  <h1 class="title">Shop's</h1>
  <br> <br>
    
  <div class="all-shops">
      <% @shop_profiles.each do |shop_profile| %>

        <% unless shop_profile.business_name.nil? %>

        <div class="shop">
            <li class="shop-name"><%= link_to shop_profile.business_name, shop_profile%></li>
            <li class="location"><%= shop_profile.location %></li>            
            <li class="about"><%= shop_profile.about %></li>
            <li class="contact"><%= shop_profile.contact_number %></li>
         </div>   

        <% end %>

      <% end %>

  </div>

</div>




  
