<div class="shops">

    <h3 class="title">Your orders</h3>

    <div id="orders">
        <% current_user.shop_profile.orders.each do |order| %>
            <li class="product-name"><%= order.product_title %></li>
            <li class="price"><%= number_to_currency(order.product_cost / 100.0) %></li>
            <li class="email"><%= order.user.email %></li>
            <br>
        <% end %>
    </div>
    
</div>