// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome {
    background-image: url("/assets/beer-brewing.png");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
}

#view-all {
    background: white;
    opacity: 0.7;
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    text-align: center;
    margin-left: 13%;
    margin-top: 17%;
}

#view-all a {
    font-size: 30px;
}


#about {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    width: 50vw;
    margin-top: 40px;
}

#about h1 {
    color: #FF520b;
}
