// Place all the styles related to the ShopProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.shops {
    color: #FF520b;
    width: 100vw;
    margin-top: 5vh;
}

.all-shops {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.shop {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 5px;
    width: 300px;
    height: 400px;
    margin-bottom: 40px;
    overflow: scroll;
}


.shop:hover {
    background-color: #E8E8EE;
}

.shop li {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.shop-name a {
    font-size: 25px;
    color: #FF520b;
    text-decoration: none;
}

.shop-name a:hover {
    color: black;
}

.location {
    font-size: 15px;
    color: black;
    font-style: italic;
}

.about {
    padding: 5px;
    color: black;
    font-size: 15px;
    text-align: center;
}

.contact {
    color: #FF520b;
    font-size: 15px;
}

.edit {
    text-align: center;
    font-size: 20px;
}

.edit a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.edit a:hover {
    color: #FF520b;
    text-decoration: underline;
}

.edit-links p {
    padding: 5px;
    font-size: 23px;
    text-align: center;
}

.edit-links a {
    text-decoration: none;
    color: #FF520b;
}

.edit-links a:hover {
    color: black;
}

.email {
    color: black;
    font-size: 15px;
}

.orders {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}

#shop-view {
    background: none;
    text-align: center;
    width: 50vw;
}

#shop-name-view {
    font-size: 35px;
    color: #FF520b;
    font-weight: 600;
}

table {
    width: 35vw;
    font-size: 17px;
    padding: 5px;
    border-collapse: collapse;
}

td {
    color: black;
    padding: 15px;
}

th {
    font-size: 25px;
    padding-bottom: 10px;
}