<p> <%= link_to 'Home', root_path %> </p>

<h2>Thanks, you paid 
    <strong>
        <%= number_to_currency(@product.price/100.0) %>
    </strong>!
</h2>

<p> You have purchased a <%= @product.name %> </p>
